@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.announce-container {
    height: 100vh;
    background-color: white;
}
/* 
.header{
    display: block;
    position: relative;
    top: 13%;
    left: 12%;
    height: 20vh;
    width: 80%;
    background-color: transparent;
}



.add {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
    left: 90%
}

.add:hover {
    cursor: pointer;
    background-color: #08321F;
} */