@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header-announcement {
    display: flex;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%
}

.footer-admin-announcement {
    /* display: flex;
    margin-top: 1vh;
    height: 15vh;
    width: 100% */
}

/* .announcement-portal-container {
    height: 120vh;
    background-color: white;
} */
.header-announcements-student {
    display: flex;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%
}

.announcement-portal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 435px;
    height: 50px;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 0.5%;
    /* position: relative;
    top: 13%;
    left: 12%;
    /* height: 20vh; */
    /* width: 80%;  */
    /* background-color: transparent; */
}

.announcement-portal-icon{
    /* position: absolute;
    top: 3.5%;
    left: 2%; */
    /* width: 3%;
    height: auto;
    color: #7A1113; */
    display: flex;
    position: relative; 
    align-items: left; 
    padding-top: 2%;
    padding-bottom: 0.5%;
    color: #7A1113; 
    width: 30px;
}

.announcement-portal-text{
    /* position: absolute;
    top: 3.5%;
    left: 5.5%; */
    /* width:3%; */
    /* height: auto;
    
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vh;
    align-items: center;
    letter-spacing: 0.02em;
    
    color: #7A1113; */

    display: block;  
    color: #7A1113;
    font-family: 'Fredoka One';
    font-weight: 200;
    font-size: 30px;
    margin-left: 5px;
    position: relative; 
      
}

.announcement-date-text {
    position: relative;
    left: 15%;
    margin-top: 15px;
    font-family: "Poppins";
    text-align: left;
}

.announcement-details-container {
    position: relative;
    border: solid 1px black;
    background-color: #FFEBC8;
    border-radius: 10px;
    height: 450px;
    width:  74%;
    left: 13%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.announcement-details-text {
    font-family: "Poppins";
    text-align: justify;
}

.announcement-details-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 74%;
    left: 13%;
}

.announcement-details-footer a {
    color: #7A1113;
    font-family: "Fredoka One";
}

.announcement-details-footer-text {
    font-family: "Poppins";
}

.announcement-admin {
    display: flex;
    margin-top: 1vh;
    height: 15vh;
    width: 100%
}



.announce-button{
    display: block;
    position: relative;
    top: 0%;
    left: 12%;
    height: 4vh;
    width: 80%;
    background-color: transparent;    
}


.add {
    position: absolute;
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
    left: 91%;
    top: 1%;
}

.delete {
    position: absolute;
    border: 2px solid #21523C;
    background-color: transparent;
    color: #21523C;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins';
    min-width: 100px;
    min-height: 20px;
    left: 81%;
    top: 1%;
  }

.add:hover {
    cursor: pointer;
    background-color: #08321F;
} 

.announcement-portal-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
  
  .announcement-delete-button {
    border: 2px solid #21523C;
    background-color: transparent;
    color: #21523C;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
  }
  
  .announcement-edit-button {
    background-color: #21523C;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
  }
  
  .admin-announcement-table-container{
    display: block;
    padding-left: 12%;
    padding-bottom: 3%;
    width: 80%;
    height: auto;
}

.student-announcement-table-container{
    display: block;
    padding-left: 12%;
    padding-bottom: 3%;
    width: 80%;
    height: auto;
    /* padding-top: 3%; */
}

.header-announcements-clerk {
    display: flex;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%
}
