@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.announce-container {
    height: 100vh;
    background-color: white;
}

.header{
    display: block;
    position: relative;
    top: 13%;
    left: 12%;
    height: 20vh;
    width: 80%;
    background-color: transparent;
}

.announcement-header{
    /* font-family: 'Fredoka One';
    font-size: 22px;
    color: #7A1113; */
    display: flex;
    height: 10px;
    justify-content: space-between;
    min-width: 600px; 
}

.announcement-icon{
    position: absolute;
    top: 3.5%;
    left: 2%;
    width: 3%;
    height: auto;
    color: #7A1113;
}

.footer-announcement {
    display: flex;
    margin-top: 1vh;
    height: 15vh;
    width: 100%
}
