.darkBG {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  .darkBG-1 {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1002;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
  
  .centered {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-1 {
    z-index: 1003;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .view-modal {
    width: 80vw;
    /* height: 40vh; */
    background: white;
    color: white;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .tracking-view-modal {
    width: 80vw;
    height: 90vh;
    background: #ececec;
    color: white;
    border-radius: 24px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .student-view-modal {
    width: 80vw;
    /* height: 40vh; */
    background: white;
    color: white;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .admin-view-modal {
    /* width: 80vw; */
    height: 85vh;
    background: white;
    color: white;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .add-modal {
    width: 80vw;
    height: 40vh;
    background: white;
    color: white;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  @media screen and (max-width: 1200px) {
    .add-modal {
      width: 80vw;
    }
  }

  .view-modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .view-heading {
    font-family: 'Fredoka';
    font-style: normal;
    padding: 1.5%;
    margin-bottom: 1.5%;
    color: #7A1113;    
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    height: auto;
    }
  
    .view-sub-heading {
      font-family: 'Poppins';
      font-style: normal;
      padding-left: 2%;
      margin-bottom: 2%;
      color: #7A1113;    
      font-weight: 400;
      font-size: 18px;
      text-align: left;
      }
  
  .view-modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    z-index: 101;
  }

  .view-document-content iframe{
    margin-top: 2%;
    padding: 10px;
    padding-bottom: 1px;
    /* margin-bottom: 1%; */
    height: 50vh;
    /* width: 50vw; */
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    z-index: 101;
    transform: scale(1);
    transform-origin: top left;
    border: none;
  }

  .view-document-content img {
    padding: 15px;
    width: 350px;
  }
  
  .view-modalActions {
    /* position: absolute; */
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;

  }

  .form-control-file {
    color: black;
  }
  
  .view-modal-actionsContainer {
    display: flex;
    padding-right: 3%;
    padding-bottom: 0.5%;
    justify-content: flex-end;
  
  }
  
  .modal-close-button {
    cursor: pointer !important;
    font-weight: 500 !important;
    padding: 4px 8px !important;
    border-radius: 8px !important;
    border: none !important;
    font-size: 18px !important;
    color: #2c3e50 !important;
    background: white !important;
    transition: all 0.25s ease !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06) !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    align-self: flex-end !important;
    margin-top: -7px !important;
    margin-right: -7px !important;

  }

  .modal-close-button-2 {
      cursor: pointer !important;
      font-weight: 500 !important;
      padding: 4px 8px !important;
      border-radius: 8px !important;
      border: none !important;
      font-size: 18px !important;
      color: #7A1113 !important;
      background: transparent !important;
      transition: all 0.25s ease !important;
      /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06) !important; */
      position: absolute !important;
      right: 0 !important;
      top: 0 !important;
      align-self: flex-end !important;
      margin-top: 3px !important;
      margin-right: 3px !important;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  /* .deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  
  .deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
   */
.download-button {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
}

.download-button:hover {
    cursor: pointer;
    background-color: #08321F;
}

.approve-modal {
  width: 80vw;
  /* height: 40vh; */
  background: white;
  color: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.reject-modal {
  width: 80vw;
  /* height: 40vh; */
  background: white;
  color: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}


.submit-modal {
  width: 100%;
  height: 40%;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.submit-modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.submit-heading {
  font-family: 'Fredoka';
  font-style: normal;
  margin: 0;
  padding: 20px;
  color: #7A1113;    
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  }

.submit-modalContent {
  padding: 5px;
  font-size: 25px;
  color: #7A1113;
  padding: 5px;
  font-size: 25px;
  color: #7A1113;
  text-align: center;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 10px;
}

.submit-modalActions {
  position: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 5%;

}

.submit-modal-actionsContainer {
  display: flex;
  padding: 5px;
  padding: 5px;
  justify-content: flex-end;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-bottom: 20px;

}

.approve-modal-actions-container {
  display: flex;
  position: relative;
  padding: 5px;
  justify-content: flex-end;
  /* padding-left: 30px; */
  padding-bottom: 20px;
  /* padding-right: 10%; */
  right: 0.5vw;

}

.cancel-modal-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.confirm-button {
  font-size: 18px;
  font-family: 'Poppins';
  border-radius: 12px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
  width: 140px;
  z-index: 1000;
  margin: 10px;
}

.confirm-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.approve-button,
.reject-button {
  font-size: 20px;
  font-family: 'Poppins';
  border-radius: 15px;
  margin-top: 5%;
  background-color: #21523C;
  color: white;
  width: 25%;
  z-index: 1000;
}

.approve-button:hover,
.reject-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.reject-button {
  margin-right: 10px;
}

.modal-icon{
  color: #7A1113;
  font-size: "Large" !important;


}

.cancel-modalActions {
  position: flex !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  height: 1% !important;

}

.cancel-modal-actionsContainer {
  display: flex !important;
  padding: 5px !important;
  justify-content: flex-end !important;

}


.cancel-modal-button {
  font-size: 13px !important;
  font-family: 'Poppins' !important;
  border-radius: 10px !important;
  background-color: #21523C !important;
  color: white !important;
  min-width: 100px !important;
  min-height: 30px !important;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
  font-size: "Large" !important;


}

.cancel-modalActions {
  position: flex !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  height: 1% !important;

}

.cancel-modal-actionsContainer {
  display: flex !important;
  padding: 5px !important;
  justify-content: flex-end !important;

}


.cancel-modal-button {
  font-size: 13px !important;
  font-family: 'Poppins' !important;
  border-radius: 10px !important;
  background-color: #21523C !important;
  color: white !important;
  min-width: 100px !important;
  min-height: 30px !important;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.add-modalContent {
  padding: 5px;
  font-size: 25px;
  color: #7A1113;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
}

.input-container {
  padding: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 17vh;
  resize: vertical;
  font-size: 18px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #ccc;
  font-size: 18px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #4b7bec;
}

.tracking-title {
  font-size: 28px;
  color: #7A1113;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left;
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 500;
}

.tracking-sub-text {
  font-size: 20px;
  color: #7A1113;
  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
}

.tracking-sub-text-bold {
  font-size: 20px;
  color: #7A1113;
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 500;
}

.status-logo-container {
  display: block;
  background-color: #faddaa;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  width: 100%;
  height: 25%;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.05);
}

.line-1 {
  height: 7px;
  width: 32.5%;
  position: absolute;
  margin-top: 12vh;
  margin-left: 17.5%;
  background-color: #21523C;
  z-index: inherit;
}

.line-2 {
  height: 7px;
  width: 32.5%;
  position: absolute;
  margin-top: 12vh;
  margin-left: 47.5%;
  background-color: #21523C;
  z-index: inherit;
}

.circle-1{
  background-color: #faddaa;
  border: solid #21523C;
  color: #21523C;
  border-width: 7px;
  height: 10vh;
  width: 10vh;
  border-radius: 100px;
  position: absolute;
  top: -90%;
  left: -90%;
  /* margin-top: 6vh;
  margin-left: 15%; */
  z-index: 1001;
}

.circle-2{
  background-color: #faddaa;
  border: solid #21523C;
  color: #21523C;
  border-width: 7px;
  height: 10vh;
  width: 10vh;
  border-radius: 100px;
  position: absolute;
  top: -90%;
  left: -90%;
  /* margin-top: 6vh;
  margin-left: 45%; */
  z-index: 1001;
}

.circle-3{
  background-color: #faddaa;
  border: solid #21523C;
  color: #21523C;
  border-width: 7px;
  height: 10vh;
  width: 10vh;
  border-radius: 100px;
  position: absolute;
  top: -90%;
  left: -90%;
  /* margin-top: 6vh;
  margin-left: 75%; */
  z-index: 1001;
}

.circle-mini-1 {
  background-color: #21523C;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  position: absolute;
  margin-top: 11vh;
  margin-left: 17.5%;
}

.circle-mini-2 {
  background-color: #21523C;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  position: absolute;
  margin-top: 11vh;
  margin-left: 48.75%;
}

.circle-mini-3 {
  background-color: #21523C;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  position: absolute;
  margin-top: 11vh;
  margin-left: 80%;
}

.tracking-detail-container{
  display: block;
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  overflow-y: scroll;
  height: 45%;
  width: 96%;
  border-radius: 7px;
}

.tracking-empty-text {
  margin-top: 20px;
  color: #21523C;
  font-family: 'Fredoka';
  font-size: 20px;
}

.tracking-detail {
  display: block;
  flex-direction: column;
  align-content: start;
  background-color: white;
  width: 100%;
  /* height: 80px; */
}

.tracking-status-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

/* .tracking-status-container {
  

} */

.tracking-datetime-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 5%; */
}

.tracking-date {
  font-family: 'Fredoka';
  font-weight: 800;
  font-size: 20px;
  /* width: 300px; */
  height: auto;
  color:#7A1113;
  /* margin-top: 15px; */
}

.tracking-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka';
  font-size: 20px;
  /* width: 720px;
  height: 50px; */
  color:#21523C;
  /* margin-top: 25px;
  margin-left: 1%; */
  text-align: start;
}

.tracking-time {
  font-family: 'Fredoka';
  font-size: 20px;
  /* width: 300px; */
  height: auto;
  color:#7A1113;
  margin-top: 0px;
}

.tracking-line {
  background-color: #21523C;
  width: 1000%;
  height: 3px;
  /* margin-left: -90%;
  margin-top: 78px; */
  border-radius: 3px;
}

.comment-input {
  margin-top: 10px;
}

.comment-input textarea {
  width: 95%;
  height: 50px;
  padding: 5px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .confirm-button {
  /* Your existing button styles */
/* } */

.textboxes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px; 
  /* max-width: 850px; */
  margin-left: 5px;
  margin-right: auto;
  height: 30px;
}

.textboxes-container input {
  flex: 1;
  margin-right: 10px;
  width: calc(33.33% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  flex-basis: 120px;
  font-family: 'Fredoka';
  font-weight: 900;
  font-size: 18px;
  color: #7A1113;
  margin-right: 10px;
}

.input-container span {
  font-family: 'Fredoka';
  font-size: 18px;
  color: #7A1113;
}

.input-container select {
  flex-grow: 1;
  height: 36px;
  font-family: 'Fredoka';
  font-size: 16px;
  color: #7A1113;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.edit-user-modal {
  min-width: 450px;
  height: 150px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.edit-user-modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.edit-user-heading {
  font-family: 'Fredoka';
  font-style: normal;
  margin: 0;
  padding: 20px;
  color: #7A1113;    
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}

.edit-user-modalContent {
  /* padding: 5px; */
  font-size: 25px;
  color: #7A1113;
  /* padding-top: 5px; */
  font-size: 25px;
  color: #7A1113;
  text-align: center;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
}

.edit-user-modalActions {
  position: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 5%;
}

.edit-user-button-container {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 20px; */
  padding: 5px;
}

.edit-user-modal-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
  margin-left: 10px;
}

.edit-user-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.circle-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #404850;
}

.circle-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-modal {
  padding: 20px;
  width: 530px;
  /* height: 400px; */
  background: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.profile-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-family: "Fredoka One";
  font-size: 24px;
  color: #7A1113;
}

.profile-course {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
}
.profile-email {
  text-decoration: underline;
  font-family: "Poppins";
  font-size: 14px;
  /* font-weight: 700; */
}

.profile-student-number, .profile-contact-number {
  font-family: "Poppins";
  font-size: 14px;
  /* font-weight: 700; */
}

.edit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit-button button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
}

.edit-button button:hover {
  opacity: 0.85;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .submit-modalContent {
    font-size: 16px;
  }
  .view-heading {
    font-size: 20px;
  }
  .reject-button, .approve-button {
    font-size: 12px;
  }
  .confirm-button {
    font-size: 12px;
  }
  .add-modalContent, .tracking-date, .tracking-status {
    font-size: 16px;
  }
  .tracking-title {
    font-size: 18px;
  }
  .tracking-sub-text, .tracking-sub-text-bold, .tracking-time {
    font-size: 14px;
  }
  .profile-modal {
    width: 80vw;
  }

}

@media screen and (max-width: 600px) {
  .edit-user-modal {
    min-width: 90vw;
    width: 90vw;
  }
}