.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .view-modal {
    width: 1000px;
    height: 500px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  
  .view-modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .view-heading {
    font-family: 'Fredoka';
    font-style: normal;
    margin: 0;
    padding: 20px;
    color: #7A1113;    
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    }
  
  .view-modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }
  
  .view-modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;

  }
  
  .view-modal-actionsContainer {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
  
  }
  
  .modal-close-button {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  /* .deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  
  .deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
   */
.download-button {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
}

.download-button:hover {
    cursor: pointer;
    background-color: #08321F;
}


.submit-modal {
  width: 1000px;
  height: 200px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.submit-modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.submit-heading {
  font-family: 'Fredoka';
  font-style: normal;
  margin: 0;
  padding: 20px;
  color: #7A1113;    
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  }

.submit-modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.submit-modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;

}

.submit-modal-actionsContainer {
  display: flex;
  padding: 20px;
  justify-content: flex-end;

}


.cancel-modal-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.confirm-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
}

.confirm-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.modal-icon{
  color: #7A1113;
}