.darkBG {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
  
  .centered {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .view-modal {
    width: 1000px;
    height: 500px;
    background: white;
    color: white;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .student-view-modal {
    width: 1000px;
    height: 800px;
    background: white;
    color: white;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .add-modal {
    width: 1000px;
    height: 550px;
    background: white;
    color: white;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  
  .view-modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .view-heading {
    font-family: 'Fredoka';
    font-style: normal;
    margin: 0;
    padding: 20px;
    color: #7A1113;    
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    }
  
  .view-modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    z-index: 101;
  }

  .view-document-content {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 101;
  }
  
  .view-modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;

  }
  
  .view-modal-actionsContainer {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
  
  }
  
  .modal-close-button {
    cursor: pointer !important;
    font-weight: 500 !important;
    padding: 4px 8px !important;
    border-radius: 8px !important;
    border: none !important;
    font-size: 18px !important;
    color: #2c3e50 !important;
    background: white !important;
    transition: all 0.25s ease !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06) !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    align-self: flex-end !important;
    margin-top: -7px !important;
    margin-right: -7px !important;
    cursor: pointer !important;
    font-weight: 500 !important;
    padding: 4px 8px !important;
    border-radius: 8px !important;
    border: none !important;
    font-size: 18px !important;
    color: #2c3e50 !important;
    background: white !important;
    transition: all 0.25s ease !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06) !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    align-self: flex-end !important;
    margin-top: -7px !important;
    margin-right: -7px !important;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  /* .deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  
  .deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
   */
.download-button {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
}

.download-button:hover {
    cursor: pointer;
    background-color: #08321F;
}


.submit-modal {
  width: 1000px;
  height: 200px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.submit-modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.submit-heading {
  font-family: 'Fredoka';
  font-style: normal;
  margin: 0;
  padding: 20px;
  color: #7A1113;    
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  }

.submit-modalContent {
  padding: 5px;
  font-size: 25px;
  color: #7A1113;
  padding: 5px;
  font-size: 25px;
  color: #7A1113;
  text-align: center;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
}

.submit-modalActions {
  position: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 5%;

}

.submit-modal-actionsContainer {
  display: flex;
  padding: 5px;
  padding: 5px;
  justify-content: flex-end;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-bottom: 20px;

}


.cancel-modal-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 4px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.confirm-button {
  font-size: 13px;
  font-family: 'Poppins';
  border-radius: 10px;
  border-radius: 10px;
  background-color: #21523C;
  color: white;
  min-width: 100px;
  min-height: 20px;
  z-index: 1000;
}

.confirm-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.modal-icon{
  color: #7A1113;
  font-size: "Large" !important;


}

.cancel-modalActions {
  position: flex !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  height: 1% !important;

}

.cancel-modal-actionsContainer {
  display: flex !important;
  padding: 5px !important;
  justify-content: flex-end !important;

}


.cancel-modal-button {
  font-size: 13px !important;
  font-family: 'Poppins' !important;
  border-radius: 10px !important;
  background-color: #21523C !important;
  color: white !important;
  min-width: 100px !important;
  min-height: 30px !important;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
  font-size: "Large" !important;


}

.cancel-modalActions {
  position: flex !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  height: 1% !important;

}

.cancel-modal-actionsContainer {
  display: flex !important;
  padding: 5px !important;
  justify-content: flex-end !important;

}


.cancel-modal-button {
  font-size: 13px !important;
  font-family: 'Poppins' !important;
  border-radius: 10px !important;
  background-color: #21523C !important;
  color: white !important;
  min-width: 100px !important;
  min-height: 30px !important;
}

.cancel-modal-button:hover {
  cursor: pointer;
  background-color: #08321F;
}

.add-modalContent {
  padding: 30px;
  font-size: 25px;
  color: #7A1113;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  color: #7A1113;
  text-align: left;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 900;
}

.input-container {
  margin-bottom: 10px;
  padding: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 300px;
  resize: vertical;
  font-size: 18px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #ccc;
  font-size: 18px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #4b7bec;
}
