@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.header-admin {
    display: flex;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%
}

.admin-container {
    /* position: absolute;
    top: 12%; */
    width: 100%;
    background-color: white;
}

.footer-admin {
    display: flex;
    margin-top: 1vh;
    height: 15vh;
    width: 100%
}
