@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.header-admin {
    display: flex;
    margin-bottom: 1vh;
    height: 88px;
    width: 100%
}

.admin-container {
    /* position: absolute;
    top: 12%; */
    width: 100%;
    background-color: white;
}

.admin-announcements{
    display: block
}

.admin-approve-requests-table-container{
    display: block;
    padding-left: 12%;
    padding-bottom: 3%;
    width: 80%;
    height: auto;
}

.name-header-admin{
    display: flex;
    padding-left: 12.5%;
    padding-top: 0px;
    font-family: 'Fredoka One';
    font-size: 36px;
    align-items: center;
    letter-spacing: 0.02em;
    text-align: left;
    color: #7A1113; 
}

.title-text-admin{
    display: flex;
    margin-bottom: 0.5%;
    padding-left: 12.5%;
    padding-top: 2%;
    padding-bottom: 0;
    font-family: 'Fredoka One';
    font-style: normal;
    font-size: 26px;
    align-items: center;
    letter-spacing: 0.02em;
    
    color: #7A1113; 
}

@media screen and (max-width: 1015px) {
    .title-text-admin{
        padding-top: 6%;
    }
}


@media screen and (max-width: 768px) {
    .name-header-admin {
        font-size: 20px;
    }
    .title-text-admin {
        font-size: 20px;
    }
}