



.table1-container{
    padding: 10px;
    height: 450px;
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.table-top {
    display: flex;
    height: 30px;
    justify-content: space-between;
    min-width: 600px;
}

.table-label {
    font-family: 'Fredoka One';
    font-size: 22px;
    color: #7A1113;
}

table.table1 {
    padding: 0;
    border-spacing: 0;
    min-width: 1000px;
}



th, td {
    padding: 5px;
    
}

th {
    padding: 8px;
    background-color: #7A1113;
    color: white;
    font-family: 'Fredoka';
    font-size: 18px;

}


.urgent {
    width: 100px;
} 

/*
.date {

}

.student-name {

}

.transaction-request {

}

.form {

} */

td {
    font-family: 'Poppins';
    font-size: 15px;
}

td.urgent {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}   

.urgent-box {
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Fredoka One';
    width: 80px;

}

.urgent-icon {
    color: #FF0000;
}

tr {
    height: 30px;
 
}
tr.header {
    height: 40px;   
}

tr.urgent-row {
    color: #FF0000;
    font-weight: 700;
}


.view {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
}

.view:hover {
    cursor: pointer;
    background-color: #08321F;
}

.action-button {
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: #21523C;
    color: white;
    min-width: 100px;
    min-height: 20px;
}

.action-button:hover {
    cursor: pointer;
    background-color: #08321F;
}


tr:nth-child(odd) {
    background-color: #FFF6E6;
}

.table1-footer {
    display: flex;
    justify-content: space-between;
    background-color: #7A1113;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    height: 35px; 
    align-items: center;  
    min-width: 800px;
}
.display-section{
    margin-right: auto;
    font-family: 'Fredoka One';
    font-size: 10px;
}

.page-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.table-page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 38px; /* or 100% */
    padding: 2px;
    margin: 1px;
    background-color: #FFF6E6;
    border-radius: 6px;
    color: #7A1113;
}

.table-page-button:hover {
    cursor: pointer;
    background-color: #FFE3B0;
}

.table-page-number {
    color: #7A1113;
    width: 25px;
    height:  38px;
    padding: 5px;
    margin: 1px;
    background-color: #FFD17F;
    border-radius: 6px;
}


.show-section {
    font-family: 'Fredoka One';
    font-size: 10px;
    margin-left: auto;
}   

.search-filter {
    display: flex;
    flex-direction: row;
}

.search-icon {
    height: 100%;
    width: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.search-box {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
    margin: 3px;
    font-size: 13px;
    font-family: 'Fredoka';
    border-color: #7A1113;
}

.search-input {
    height: 100%;
    font-family: 'Fredoka';
    }

.filter {
    padding: 5px;
    font-family: 'Fredoka One';
    color: #7A1113;
    font-size: 15px;
    margin-right: 5px;
}

/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(<BsChevronDown/>) no-repeat right center;
    background-size: 17px;
  } */
  
.table-filter {
    min-width: 100px;
    background-color: #7A1113;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    font-family: 'Fredoka One';
    font-size: 13px;
    color: white;
}


.show-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-text {
    font-size: 9px;
    margin: 5px
}

.show-dropdown {
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    min-width: 18px;
}

.show-number {
    color: #2EB1A1;
    padding: 2px;
}
.show-icon {
    color: #6D6D6D;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .table1-container{
    padding: 10px;
    height: 450px;
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.table-top {
    display: flex;
    height: 30px;
    justify-content: space-between;
    min-width: 600px;
} */

.announcement-container{
    position: relative;
    border-radius: 15px;
    display: grid; 
    left: 16%;
    width: 68%;
    /* padding: 15px; */
    height: 185px;
    display: grid;
    justify-content: center; 
    align-content: center; 
    background-color: #FFEBC8;
    margin-top: 25px;
    z-index: 0;
}

.announcement-header{
    /* font-family: 'Fredoka One';
    font-size: 22px;
    color: #7A1113; */
    display: flex;
    height: 10px;
    justify-content: space-between;
    min-width: 600px; 
}

.announcement-icon{
    position: absolute;
    top: 3.5%;
    left: 2%;
    width:3%;
    height: auto;
    /* color: #7A1113; */
}

.announcement-text{
    position: absolute;
    top: 3.5%;
    left: 5.5%;
    width:3%;
    height: auto;
    
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vh;
    align-items: center;
    letter-spacing: 0.02em;
    
    /* Maroon */
    
    color: #7A1113;
      
}





/* .announce-header{
    position: relative;
    top: 3%;
    /* left: 1.5%; */
    /* height: 30%; 
} */

/* .announce-div{
    position: relative;
    top: 30%; 
    /* left: 1.5%; */
    /* height: 70%; 
}  */

table.announcement-table{
    position: relative; 
    padding: 0;
    border-spacing: 0;
    min-width: 900px; 
    margin-top: 27px;   
}

/* table.table1 {
    padding: 0;
    border-spacing: 0;
    min-width: 1000px;
} */

tr.announcement-tr{
    position: relative;
    height: 17.5%;  
}

tr.announcement-tr:nth-child(odd) {
    background-color: #FFEBC8;
}  

td.announcement-date{
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 3px;
}

td.announcement-info{
    font-family: 'Poppins';
    font-size: 2vh; 
    color: #7A1113;   
    justify-content: left; 
    align-items: left;
    padding: 3px;
}


/* .table1-container{
    padding: 10px;
    height: 450px;
    display: grid;
    justify-content: center;
    align-content: center;
    
} */

.date-box {
    background-color: #FFF6E6;
    color: #7A1113;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Fredoka One';
    width: 150px;

}
