@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

.header-signatory {
    display: flex;
    margin-bottom: 1vh;
    height: 88px;
    width: 100%
}

.signatory-container {
    /* position: absolute;
    top: 12%; */
    width: 100%;
    background-color: white;
}

.signatory-transactions-table-container{
    display: block;
    padding-left: 12%;
    padding-bottom: 3%;
    width: 80%;
    height: auto;
}

/* .footer-signatory {
    display: flex;
    margin-top: 5vh;
    height: 15vh;
    width: 100%;
} */
