@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');


.header-clerk {
    display: flex;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%
}

.clerk-container {
    width: 100%;
    background-color: white;
}

.footer-clerk {
    display: flex;
    margin-top: 1vh;
    height: 15vh;
    width: 100%
}


