@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.login-background {
    height: 100vh;
    background-color: black;
}

.login-bg-1 {
    position: absolute;
    height: 100vh;
    width: 60%;
    top: 0vh;
    left: 0vh;
}

.login-bg-2 {
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 40vh;
    left: 0vh;
}

.login-container {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 40%;
    top: 0vh;
    left: 60%;
}

.cos-logo {
    width: 30%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 2%;
}

.welcome-text-1 {
    position: absolute;
    left: 0vh;
    top: 27%;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    line-height: 5vh;
    text-align: center;
}

.welcome-text-2 {
    position: absolute;
    width: 100%;
    left: 0vh;
    top: 32%;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 5.5vh;
    line-height: 5vh;
    text-align: center;
    color: #FAAC1F;
}

.login-box-top {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 42.5%;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
    background-color: #7A1113;
}

.login-box-bottom {
    position: absolute;
    width: 70%;
    height: 17.5%;
    left: 15%;
    top: 52.5%;
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-icon {
    position: absolute;
    width: 7.5%;
    top: 15%;
    height: auto;
    left: 7.5%;
}

.login-text-1 {
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    font-family: 'Fredoka';
    font-weight: bolder;
}

.login-text-2 {
    position: absolute;
    width: 90%;
    top: 60%;
    left: 7.5%;
    font-family: 'Poppins';
    text-align: left;
}

.login-button-container {
    position: absolute;
    width: 50%;
    height: 27.5%;
    top: 17.5%;
    left: 25%;
    background-color: #21523C;
    border: none;
    border-radius: 1vh;
}

.login-button-container:hover {
    background-color: #132e22;
    cursor: pointer;
}

.login-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 17.5%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 1vh;
}

.login-button:hover {
    cursor: pointer;
}

.login-button-icon {
    position: absolute;
    top: 12.5%;
    left: 5%;
    width: 13%;
    height: auto;
}

.login-button-text {
    position: absolute;
    top: 20%;
    left: 22%;
    font-size: 2.1vh;
    color: white;
}

