@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.student-container {
    height: 100vh;
    background-color: white;
}

.name-header{
    position: absolute;
    width: 435px;
    height: 47px;
    left: 197px;
    top: 146px;
    
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    
    color: #7A1113; 
}

.transaction-header{
    position: absolute;
    width: 667px;
    height: 29px;
    left: 197px;
    top: 189px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #21523C;

}

