@import url('https://fonts.googleapis.com/css?family=Poppins');

.footer-container {
    background-color: #262626;
    position: absolute;
    height: 15%;
    width: 100%;
    /* bottom: 0vh; */
}

.footer-text-1 {
    position: absolute;
    top: 7.5%;
    left: 9%;
    font-family: 'Poppins';
    text-align: left;
    font-size: 2vh;
    color: white;
}

.footer-text-2 {
    position: absolute;
    top: 21%;
    left: 9%;
    font-family: 'Poppins';
    text-align: left;
    font-size: 2vh;
    color: white;
}

.footer-text-3 {
    position: absolute;
    top: 35%;
    left: 9%;
    font-family: 'Poppins';
    font-weight: 700;
    text-align: left;
    font-size: 2.5vh;
    color: #FAAC1F;
}

.footer-text-4 {
    font-size: 1.5vh;
    margin-top: 6%;
    color: white;
    font-family: 'Poppins';
}

.footer-text-5 {
    position: absolute;
    top: 7.5%;
    right: 30%;
    font-family: 'Poppins';
    text-align: left;
    font-weight: 600;
    font-size: 2vh;
    color: white;
}

.footer-text-6 {
    position: absolute;
    top: 7.5%;
    right: 18%;
    font-family: 'Poppins';
    text-align: left;
    font-weight: 600;
    font-size: 2vh;
    color: white;
}

.footer-text-7 {
    position: absolute;
    top: 28.5%;
    left: 80%;
    font-family: 'Poppins';
    text-align: left;
    font-size: 2vh;
    color: white;
}

.footer-text-8 {
    position: absolute;
    top: 52.5%;
    left: 80%;
    font-family: 'Poppins';
    text-align: left;
    font-size: 2vh;
    color: white;
}

.footer-icon-1 {
    position: absolute;
    top: 30%;
    right: 32.5%;
    width: 2.3%;
    height: auto;
}

.footer-icon-2 {
    position: absolute;
    top: 31%;
    right: 29.5%;
    width: 2.3%;
    height: auto;
}

.footer-icon-3 {
    position: absolute;
    top: 30%;
    right: 21%;
    width: 1.8%;
    height: auto;
}

.footer-icon-4 {
    position: absolute;
    top: 55%;
    right: 21%;
    width: 1.8%;
    height: auto;
}
