@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.tracking-container {
    height: 100vh;
    background-color: white;
}

.ongoing-table-container {
    position: absolute;
    top: 55%;
    left: 12%;
    height: 30vh;
    width: 80%;
}

.ongoing-table1-container {
    padding: 10px;
    height: 30vh;
    display: grid;
    justify-content: center;
    align-content: center
}