@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

.notif-container{
    display: grid;
    position: relative;
    background-color: #faddaa;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.notif-logo {
    display: inline-block;
    position: absolute;
    align-items: center;
    padding-top: 1%;
    left: 1.5%;
}

.notif-list-container {
    display: block;
    margin-top: 4%;
    height: 60%;
    width: 100%;
}

.notif-details-container {
    display: block;
    height: 35px;
    padding-top: 2px;
}

.notif-title-text {
    display: inline-block;
    align-content: center;
    color: #7A1113;
    font-family: 'Fredoka One';
    font-size: 25px;
    position: absolute;
    padding-top: 20px;
    left: 6%;
}

.no-notifs{
    display: block;
    margin-top: 5%;
    color: #7A1113;
    font-family: 'Fredoka';
    font-size: 18px;
    left: 6%;
}

.notif-date-time-container {
    display: inline-block;
    position: relative;
    background-color: #FFF6E6;
    color: #741B47;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2.5px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Fredoka One';
    width: 15%;
    height: auto;
}

.notif-body-text {
    display: inline-block;
    text-align: left;
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    left: 1%;
    width: 80%;
    height: 100%;
    color: #7A1113;
    font-family: 'Fredoka';
    font-size: 18px;
}

.notif-show-more-button {
    display: block;
    background-color: #21523C;
    border-radius: 10px;
    color: white;
    width: 10%;
    position: relative;
    margin-bottom: 0.5%;
    margin-left: 89%;
    font-family: 'Fredoka';
    font-size: 18px;
    cursor: pointer;
}

.notif-show-more-button:hover {
    background-color: #132e22;
}