@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');

form {
    text-align: left;
}
.tcg-form label {
    font-family: 'Poppins';
    font-size: 14px;
}

.header-form {
    display: flex;
    margin-bottom: 1vh;
    height: 88px;
    width: 100%
}

.form-title {
    text-align: left;
    /* margin-top: 12vh; */
    margin-bottom: 15px;
    font-family: 'Fredoka One';
    color: #7A1113; 
    font-size: 30px ;
}

.form-text {
    display: flex;
    align-items: center;
}

h1.form-group-title{
    font-family: 'Fredoka One';
    color: #7A1113; 
    font-size: 20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.form-subtitle-1 {
    color: #7A1113;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}

h3.form-subtitle-2 {
    color: #7A1113;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 3px;
}


ul li.important-item {
    margin-left: 20px;
}

.inline-form-details .form-details {
    display: inline;
    margin-right: 30px;
}
.form-details {
    font-family: 'Poppins';
    font-size: 14px;
}

.form-details-price {
    font-size: 20px;
}

.privacy-notice-text {
    font-family: 'Poppins';
    background-color: #FFEBC8;
    padding: 10px;
    border-radius: 20px 20px 20px 20px ;
    margin-bottom: 20px;
}

.upload {
    font-family: 'Poppins';
    background-color: #FFEBC8;
    margin: 10px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px ;
    margin-bottom: 15px;
}

.privacy-notice-text-end {
    color: #7A1113;
    font-weight: 700;
}

.request-price-container {
    display: flex;
    justify-content: space-between;
}

.request-price-container .column-2 {
    padding: 15px;
    background-color: #FFEBC8;
    border-radius: 20px;
    width: 100%;
}

.form-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.submit-button button {
    /* margin-left: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    font-family: 'Fredoka';
    background-color: #21523C;
    border-radius: 10px;
}


.submit-button button:hover {
    background-color: #21523C;
    opacity: 0.9;
    
}

.cancel-button button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    font-family: 'Fredoka';
    border: 1px solid #21523C;
    background-color: white;
    color: #21523C;
    border-radius: 10px;
}

.cancel-button button:hover {
    background-color: #21523C;
    opacity: 0.9;
    
}

.form-description-text {
    font-family: 'Poppins';
    /* padding: 10px;
    border-radius: 20px 20px 20px 20px ;
    margin-bottom: 20px; */
}

.green-label {
    font-family: "Poppins";
    color: #21523C;
    font-weight: 700;
    font-size: 20;
}

.download-form {
    font-family: 'Poppins';
    
    color: #21523C;
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
    font-weight: 700;

}
